<div class="section-container">
  <div class="container">
    <div class="story-stats">
      <div class="story-stats__stat">
        <h4>Stories created / today</h4>
        <h3><%= number_with_delimiter(@stories_created_today) %></h3>
      </div>

      <div class="story-stats__stat">
        <h4>Stories created / week</h4>
        <h3><%= number_with_delimiter(@stories_created_this_week) %></h3>
      </div>

      <div class="story-stats__stat">
        <h4>Total number of stories</h4>
        <h3><%= number_with_delimiter(@total_number_of_stories) %></h3>
      </div>
    </div>
  </div>
</div>

<div class="section-container">
  <div class="container">
    <h2>Login Activity</h2>
  </div>
</div>

<div class="section-container">
  <div class="container">
    <div id="chart-active-users"></div>
  </div>
</div>

<script>
  // TODO: use a god damned ActionCable. this is terrible.
  var active_date = <%= raw(@active_date) %>;

  var active_30 = <%= raw(@active_30) %>;
  var active_60 = <%= raw(@active_60) %>;
  var active_90 = <%= raw(@active_90) %>;
</script>
